<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>js-html-css-boolzap</title>

</head>
<body>
    

    <div id="app" class="container">

        <aside class="left">
            <header>
                <div class="profilo">
                    <img :src="'assets/img/avatar'+ user.avatar +'.jpg'" alt="">
                    <span>{{ user.name }}</span>
                </div>

                <div class="profilo-bar">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </header>

            <div class="notifiche">
                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div class="notifiche-testo">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
                
            </div>


            <section>
                <div class="box-input">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat"
                    v-model.trim = "strSearch"
                    @keyup = "searchContact">
                </div>
                <div class="lista-contatti">
                    
                        <div class="contact" 
                          v-for="(contact, index) in contacts"
                          @click="utenteAttivo = index"
                          :class="(utenteAttivo === index) ? 'active' :null"
                          v-if="contact.visible === true"
                          >
                          <div class="contact-logo">
                            <img :src="'assets/img/avatar'+ contact.avatar +'.jpg'" alt="">
                           </div> 
                            <!-- <span>{{contact.name}}</span> -->
                            <div class="contact-info">
                                <h3>
                                    <span class="contact-name">{{ contact.name }}</span>
                                    <span class="time f-right">{{ lastAccess(index)  }}</span>
                                </h3>
                                <small>{{ lastMessage(index)  }}</small>
                            </div>
                        </div>
                    
                </div>

            </section>

        </aside>



        <main class="right">

            <header>
                <div class="profilo">
                    <img :src="'assets/img/avatar'+ contacts[utenteAttivo].avatar +'.jpg'" alt="avatar_io">
                    <div class="accesso-scritte">
                        <span>{{contacts[utenteAttivo].name}}</span><br>
                        <span>Ultimo accesso oggi alle {{now}}</span> 
                    </div>
                    

                </div>

                <div class="profilo-bar">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </header>

            <section>
                <div class="mess-container">
                    <div class="mess"
                    v-for="message in contacts[utenteAttivo].messages"
                    :class="(message.status === 'sent') ? 'sent' : 'received'"
                    >
                      <p>{{message.text}}</p>
                      <span>{{message.date}}</span>
                      <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </section>

            <footer>
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio"
                v-model.trim="strMes"
                @keyup.enter="sendMessage"
                >
                <i class="fas fa-microphone"></i>
            </footer>




        </main>


        

    </div> <!-- end APP -->

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>